@mixin background-page {

    background-image: url('/img/background.jpg');
    background-position-x: left;
    background-position-y: bottom;
    background-size: 100% 100%;// cover
    background-repeat: no-repeat;
    background-attachment: fixed;
    // background-origin: initial;
    // background-clip: initial;
    // background-color: initial;
}